.game-board-top {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border-color: #934b00;
    border-radius: 10px 10px 0px 0px;
    border-width: 20px 20px 0px 20px;
    border-style: solid;
}

.container-board {
    display: flex;
    justify-content: center;
}

.game-board-bottom {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    border-color: #934b00;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 20px 20px 20px;
    border-style: solid;
}

.field {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: auto;
    padding: 5px;
    aspect-ratio: 1 / 8;
    row-gap: 2px;
}

.darkgreen-top {
    background-color: #335c67;
}

.darkmaroon-top {
    background-color: #540b0e;
}

.darkgreen-bottom {
    flex-direction: column-reverse;
    background-color: #335c67;
}

.darkmaroon-bottom {
    flex-direction: column-reverse;
    background-color: #540b0e;
}

.middle {
    background-color: #934b00;
}

.welcome {
    text-align: center;
    margin: 50px 0px;
}

.rainbow-text {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: transparent;
}

.rollDiceButton {
    text-align: center;
    background-color: red;
    border-block-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.hide {
    display: none;
}

.test {
    text-align: center;
    background-color: red;
    border-block-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}


