
.main-container{
    display: flex;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
}

.game-board-top {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border-color: #934b00;
    border-radius: 0px 10px 0px 0px;
    border-width: 20px 70px 0px 0px;
    border-style: solid;
}

.left-border-top {
    background-color: #934b00;
    width: 70px; 
    border-radius: 10px 0px 0px 0px;
    padding: 20px 10px 20px 10px;
}

.container-home-top {
    background-color: sandybrown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2px;
    padding: 2px;
    border-radius: 3px;
}

.left-border-bottom {
    background-color: #934b00;
    width: 70px;
    border-radius: 0px 0px 0px 10px;
    padding: 10px 10px 20px 10px;
}
.container-board {
    display: flex;
    justify-content: center;
}

.game-board-bottom {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    border-color: #934b00;
    border-radius: 0px 0px 10px 0px;
    border-width: 0px 70px 20px 0px;
    border-style: solid;
}

.container-home-bottom {
    background-color: sandybrown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 2px;
    border-radius: 3px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: auto;
    padding: 5px;
    aspect-ratio: 1 / 8;
    row-gap: 2px;
}

.darkgreen-top {
    background-color: #335c67;
}

.darkmaroon-top {
    background-color: #540b0e;
}

.darkgreen-bottom {
    flex-direction: column-reverse;
    background-color: #335c67;
}

.darkmaroon-bottom {
    flex-direction: column-reverse;
    background-color: #540b0e;
}

.middle-top {
    background-color: #934b00;
    flex-direction: column-reverse;
}

.middle-bottom {
    background-color: #934b00;
}

.welcome {
    text-align: center;
    margin: 50px 0px;
}

.rainbow-text {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: transparent;
}


